body{
    background-color: black;
    color: white;
}
.copy{
    margin-top: 1000px; 
    align-content: center;

}
.mainimg{
    height: 200px;
    width: fit-content;
    cursor:not-allowed;
    border-radius: 30px;
    margin-top: 10px;
}
.mainimg :hover{
    height: 500px;
    width: fit-content;
}
.h1
{
    font-family:'Lucida Handwriting';
    font-size: 40px;
    color: rgb(0, 255, 213);
    background-color: rgba(255, 0, 0, 0.418);
    text-align: center;
    text-transform: uppercase;
    border-radius: 30px;
    margin-top: 10px;
    text-shadow: yellow;
    cursor: not-allowed;
}
.h2{
    font-family:'News706 BT';
    font-size: 25px;
    color: rgb(255, 166, 0);
    text-align: center;
    text-transform: uppercase;
    margin-top: -10px;
    cursor: not-allowed;
}
.h2:hover{
    background-color: rgb(255, 255, 255);
    color: red;
    height: 30px;
    border-radius: 30px;
}
.h3{
    font-family:'News706 BT';
    font-size: 25px;
    color: rgb(247, 0, 255);
    text-align: center;
    text-transform: uppercase;
    margin-top:20px;
    cursor: not-allowed;
}
.h4{
    color: white;
    font-size: 70px;
    font-family: 'Harlow Solid';
    text-align: center;
}
.ul{
    font-size: 20px;
    font-family: 'Copperplate Gothic';
    line-height: 35px;
}


.B1{
    background-color: rgb(252, 151, 0);
    color: rgb(110, 0, 0);
    font-family: 'Hiruko Pro';
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    height: 70px;
    width: 500px;
}
.B1:hover{
    background-color: indigo;
    color: yellowgreen;
}
.B2{
    background-color: greenyellow;
    color: indigo;
    font-family: 'Hiruko Pro';
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    height: 70px;
    width: 400px;
}
.B2:hover{
    background-color: indigo;
    color: yellowgreen;
}

.B3{
    background-color: rgb(109, 0, 143);
    color: white;
    font-family: 'Hiruko Pro';
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    height: 70px;
    width: 400px;
}
.B3:hover{
    background-color: white;
    color: rgb(109, 0, 143);
}

.B4{
    background-color: rgb(4, 6, 160);
    color: rgb(0, 255, 13);
    font-family: 'Hiruko Pro';
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    height: 70px;
    width: 500px;
}
.B4:hover{
    background-color: rgb(0, 255, 13);
    color: rgb(4, 6, 160);
}

.B5{
    background-color: rgb(116, 116, 116);
    color: rgb(0, 0, 0);
    font-family: 'Hiruko Pro';
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    height: 70px;
    width: 500px;
}
.B5:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(5, 0, 70);
}

.B6{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    font-family: 'Hiruko Pro';
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    height: 70px;
    width: 500px;
}
.B6:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}
.B7{
    background-color: rgb(173, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Hiruko Pro';
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    height: 70px;
    width: 500px;
}
.B7:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(146, 0, 0);
}
.B8{
    background-color: rgb(17, 0, 170);
    color: rgb(255, 255, 255);
    font-family: 'Hiruko Pro';
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    height: 70px;
    width: 1000px;
}
.B8:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(27, 0, 146);
}

.B9{
    background-color: rgb(255, 230, 0);
    color: rgb(255, 0, 0);
    font-family: 'Hiruko Pro';
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    height: 70px;
    width: 900px;
}
.B9:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 230, 0);
}
.btn{
    align-items: center;
    text-align: center;
    justify-content: center;
}

/*Pop-up box
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 1080px; /* Full width */
    height: 2500px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin-top: 10px;
    margin-left: 80px;
    cursor: pointer;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #000000;
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(200, 255, 0);
    width: 80%;
    border-radius: 30px;
  }
  
  /* The Close Button */
  .close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Hiruko Pro';
    background-color: red;
    width: 30px;
    height: 30px;
    align-content: center;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
    background-color: white;
  }


/*Calculator Pop Up*/
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 1000px; /* Full width */
    height: 500px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin-top: 10px;
    margin-left: 50px;
    cursor: pointer;
  }
  
  /* Modal Content */
  .modal-content1 {
    background-color: #000000;
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(200, 255, 0);
    width: 100px;
    height: 200px;
    align-items: center;
    border-radius: 30px;
  }
  
  /* The Close Button */
  .close1 {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Hiruko Pro';
    background-color: red;
    width: 30px;
    height: 30px;
    align-content: center;
  }
  
  .close1:hover,
  .close1:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
    background-color: white;
  }

/*Calculator funtions*/
  .calculator {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
.calculator input[type="button"] {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
}
.calculator input[type="text"] {
    width: 100%;
    height: 60px;
    font-size: 24px;
    text-align: right;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}